@import './styling/theme.scss';

// ==========================
// [    component mixins    ]
// --------------------------
//  Declare attributes with 
//  unset value to disable 
//  when applied
// ==========================


// # Misc
@mixin shadow {
    box-shadow: 0px 5px 15px -15px $use-shadow-color;
    -webkit-box-shadow: 0px 5px 15px -15px $use-shadow-color;
    -moz-box-shadow: 0px 5px 15px -15px $use-shadow-color;
}


// # FUNCTIONAL
@mixin transform2D ($x,$y){
    transform: translateX($x);
    transform: translateY($y);
}

@mixin use-focus {
    &focus,
    &:focus-within {
        outline: none;
    }

    &:focus-visible {
        outline: 3px solid $primary-color;
        outline-offset: 3px;
        transition: none;
        filter: $hover-brightness-light;
    }
}

@mixin transition {
    transition: 0.2s;
}

@mixin no-select {
    user-select: none;
}

@mixin onHover($class) {
    @include transition;

    @if $class == 0 {
        &:hover {
            filter: $hover-brightness-light;
        }
    }
    @else if $class == 1 {
        &:hover {
            filter: $hover-brightness-dark;
        }
    }
}

@mixin onActive {
    @include transition;
    &:active {
        filter: brightness(95%);
        transform: scale(0.97, 0.97);
    }
}

// element state combinations
@mixin elementState-A($class) {
    @include onHover($class);
    @include onActive();
}

@mixin mard($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin wight($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// # COMPONENT STYLES
@mixin btn-default {
    @include mard(5px 10px, 13px 23px);
    @include elementState-A(0);
    @include use-focus();
    // @include shadow;

    // this can apply to both anchor tags and buttons.
    text-decoration: none;
    font-size: 14px;
    color: $color;
    background-color: $primary-color;

    border: none;
    border-radius: 10px;

    display: inline-block;

    cursor: pointer;
}


// ==========================
// [    component styles    ]
// ==========================

// # Buttons
.m-btn {
    @include btn-default;
    @include no-select();
    color: $color;
    background-color: $background-accent;
}

.primary {
    color: $color-secondary;
    background-color: $primary-color;
}

.secondary {
    color: $color-secondary;
    background-color: $secondary-color;
}

.warn {
    color: $color-secondary;
    background-color: $warn;
}

.alert {
    color: $color-secondary;
    background-color: $alert;
}

// # Buttons Accent
.p-accent {
    color: $color-secondary;
    background-color: $primary-accent;
}

.s-accent {
    color: $color-secondary;
    background-color: $secondary-accent;
}

.disabled {
    z-index: -1;
    cursor: not-allowed;
    filter: grayscale(100%) brightness(90%);
    
    &:hover {
        filter: grayscale(100%);
    }
    &:active {
        filter: grayscale(100%);
    }
}

.ctrl-btn {
    @include wight(50px, 50px);
    @include mard(2px, 5px);
    border-radius: 100%;
    font-size: large;
}

// # Cards
.card {
    @include no-select();
    @include shadow();
    @include onHover(1);
    @include mard(10px, 20px);

    border-radius: 10px;
    background-color: $background-accent;

    &:hover {
        transform: translateY(-2px);
    }
}

// # Content Breakers | Dividers
.divider {
    @include mard(10px, 0.5px);
    background-color: $color;
}


// ==================================
// [    Custom Bootstrap Methods    ]
// ==================================

// # Alignment
.align {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

// # Fillers
.fill-view {
    @include wight(100vw, 100vh);
}

// # Functions
.no-select {
    @include no-select();
}


// ==============
// [    root    ]
// ==============

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    @include mard(0, unset);
    @include transition();
    color: $color;
    background-color: $background;

    overflow-x: hidden;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}